.admin-search{
    display: flex;
    justify-content: center;
}
.admin-timesheet-table{
    margin: 3pc 50px;
}
.adminTeamTable{
    margin: 3pc 250px;
}
.adminTeamPagination{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: static;
}